@model IEnumerable<Sgu.StudentTesting.PL.ViewModel.Question.QuestionDisplayVM>

@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name = "viewport" content = "width=device-width" />
    <title>Index</title>
</head>
<body style=" font-size:20px">
    <p>
        @Html.ActionLink("Создать новый вопрос", "Create")
    </p>
    <table class="table" >
        <tr>
            <th>
                Номер
            </th>
            <th>
                Тема
            </th>
            <th>
                Вопрос
            </th>
            <th>
                Вариант ответа 1
            </th>
            <th>
                Вариант ответа 2
            </th>
            <th>
                Вариант ответа 3
            </th>
            <th>
                Вариант ответа 4
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTheme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariantOfAnswer1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariantOfAnswer2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariantOfAnswer3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariantOfAnswer4)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }    
    </table>
</body>
</html>
