@model IEnumerable<Sgu.StudentTesting.PL.ViewModel.Question.QuestionDisplayVM>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListNewQuestion1</title>
</head>
<body style="font-size:20px">
    <table class="table">
        <tr>
            <th>
                Вопроc
            </th>
            <th>
                Ответ 1
            </th>
            <th>
                Ответ 2
            </th>
            <th>
                Ответ 3
            </th>
            <th>
                Ответ 4
            </th>
            @*<th>
                Правильный ответ
            </th>*@
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariantOfAnswer1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariantOfAnswer2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariantOfAnswer3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariantOfAnswer4)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CorrectAnswer)
            </td>*@
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Подтвердить", "AcceptedQuestion", new { id = item.Id })  |            
                @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
            </td>
        </tr>
    }    
    </table>
    <div>
        @Html.ActionLink("Вернуться", "Index","Home")
    </div>
</body>
</html>
